# Ignorar archivos de configuración sensibles
.env
config.py

# Ignorar archivos de dependencias de Python
__pycache__/
*.pyc
*.pyo
faqs_index

# Ignorar entornos virtuales
.venv/
venv/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
